.idea
.git
__pycache__
cache
wechatsogou/cache
wechatsogou/ocr
sprider
wechatsogou.egg-info
dist
demo
log.txt
web
wechatid.txt
.DS_Store
test/config.py
.python-version
*.pyc
.tox/
build/
.hypothesis/
test/.hypothesis/
t.py
y.py
tencent_captcha/
docs/src/node_modules/
